<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/vue-resource.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/add_page.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">

</head>
    <body>
        <div id="body">
            <span>
                <input id="search_key" class="form-control" type="text" placeholder="搜索" @keyup.enter="get_search">
            </span>
            <table class="table table-bordered" style="text-align: center">
                <thead>
                    <tr>
                        <td>文章标题</td>
                        <td>文章作者</td>
                        <td>采集时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="a in article_list">
                        <td><a v-bind:href="'/article/'+a.id+'/'">{[ a.title ]}</a></td>
                        <td>{[ a.author ]}</td>
                        <td>{[ a.public_time ]}</td>
                        <td>
                            <button class="btn btn-primary">收藏</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right">
                <ul class="pagination">
                    <li v-for="page in page_list"><a v-on:click="get_page(page)">{[ page ]}</a></li>
                </ul>
            </div>
        </div>
        <script>
            Vue.use(VueResource)
            var vue = new Vue(
                {
                    delimiters:['{[', ']}'],
                    el: "#body",
                    data: {
                        article_list: [],
                        page_list: [],
                        keywords: ''
                    },
                    created: function () {
                        url = "/Api/Article/Search/";
                        this.request(url);
                    },
                    methods : {
                        request: function (url) {
                            this.$http.get(url).then(
                            function (data) {
                                this.article_list = data["data"]["data"];
                                this.page_list = data["data"]["page"];
                                this.history_url = data["data"]["history_url"];
                                console.log(this.history_url)
                            },
                            function (error) {
                                console.log(error)
                            }
                            )
                        },
                        get_page: function (page) {
                            url = "/Api/Article/Search/?page="+page;
                            if(this.keywords){
                                url = "/Api/Article/Search/?search_key="+this.keywords+"&page="+page;
                            }
                            console.log(url);
                            this.request(url)
                        },
                        get_search: function () {
                            var keywords = $("#search_key").val();
                            if(keywords){
                                url = "/Api/Article/Search/?search_key="+keywords;
                                this.request(url);
                                this.keywords = keywords;
                                console.log("hello world")
                            }
                        }
                    }
                }
            )
        </script>
    </body>
</html>